{% extends "base.html" %}

{% block title %}
  Match Points
{% endblock title %}
{% block content %}
  <h1>Match Points</h1>
  <p>Here are the match points:</p>
  <input type="date" id="matchDate" />
  <button type="button"
          class="btn btn-primary"
          onclick="redirectToMatchPoints();">Refresh</button>
  <table id="matchPointsTable" class="table table-striped">
    <thead>
      <tr>
        <th>League</th>
        <th>Franchise</th>
        <th>Player Name</th>
        <th>Match Date</th>
        <th>Batting Points</th>
        <th>Bowling Points</th>
        <th>Total Points</th>
      </tr>
    </thead>
    <tbody>
      {% for player in match_points %}
        <tr>
          <td>{{ player.league }}</td>
          <td>{{ player.franchise }}</td>
          <td>{{ player.player_name }}</td>
          <td>{{ player.match_date }}</td>
          <td>{{ player.batting_points }}</td>
          <td>{{ player.bowling_points }}</td>
          <td>{{ player.total_points }}</td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Total Points:</th>
      </tr>
    </tfoot>
  </table>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet"
        type="text/css"
        href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css" />
  <link rel="stylesheet"
        type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css" />
  <script type="text/javascript"
          charset="utf8"
          src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js">
  </script>
  <script>
    function redirectToMatchPoints() {
      var date = document.getElementById('matchDate').value;
      if (!date) {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        date = yyyy + '-' + mm + '-' + dd;
      }
      window.location.href = '/matchpoints/?date=' + date;
    }
  </script>
  <script>
    $(document).ready(function() {
      var table = $('#matchPointsTable').DataTable({
        "pageLength": 25,
        "footerCallback": function(row, data, start, end, display) {
          var api = this.api(),
            data;

          var intVal = function(i) {
            return typeof i === 'string' ?
              i.replace(/[\$,]/g, '') * 1 :
              typeof i === 'number' ?
              i : 0;
          };

          total = api
            .column(6)
            .data()
            .reduce(function(a, b) {
              return intVal(a) + intVal(b);
            }, 0);

          pageTotal = api
            .column(6, {
              page: 'current'
            })
            .data()
            .reduce(function(a, b) {
              return intVal(a) + intVal(b);
            }, 0);

          $(api.column(6).footer()).html(
            pageTotal
          );
        }
      });

      table.columns().every(function(index) {
        if (index < 2) {
          var column = this;
          var select = $('<select><option value=""></option></select>')
            .appendTo($(column.footer()).empty())
            .on('change', function() {
              var val = $.fn.dataTable.util.escapeRegex(
                $(this).val()
              );

              column
                .search(val ? '^' + val + '$' : '', true, false)
                .draw();
            });

          column.data().unique().sort().each(function(d, j) {
            select.append('<option value="' + d + '">' + d + '</option>')
          });
        }
      });
    });
  </script>
{% endblock content %}
