{% extends "base.html" %}

{% block title %}
  Tournaments Dashboard
{% endblock title %}
{% block content %}
  <h1>Tournaments Dashboard</h1>
  <ul>
    {% for tournament in tournaments %}<li>{{ tournament }}</li>{% endfor %}
  </ul>
  <input type="date" id="matchDate" />
  <button onclick="redirectToMatchPoints();">All Match Points</button>
  <script>
    function redirectToMatchPoints() {
      var date = document.getElementById('matchDate').value;
      window.location.href = '/matchpoints/?date=' + date;
    }
  </script>
{% endblock content %}
