{% extends "base.html" %}

{% block title %}
  Tournaments Dashboard
{% endblock title %}
{% block content %}
  <h1>Tournaments Dashboard</h1>
  <ul>
    {% for tournament in tournaments %}<li>{{ tournament }}</li>{% endfor %}
  </ul>
  <input type="date" id="matchDate" />
  <button onclick="redirectToMatchPoints();">All Match Points</button>
  <script>
    function redirectToMatchPoints() {
      var date = document.getElementById('matchDate').value;
      if (!date) {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        date = yyyy + '-' + mm + '-' + dd;
      }
      window.location.href = '/matchpoints/?date=' + date;
    }
  </script>
{% endblock content %}
